<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>

    <add key="ida:AADInstance" value="https://login.windows.net/{0}" />
    <add key="ida:Tenant" value="hgrdirectory.onmicrosoft.com" />
    <add key="ida:ClientId" value="7a843f6b-8582-43e0-bea0-5987ac86452c" />
    <add key="ida:RedirectUri" value="http://WebApiAzureADClient" />

    <add key="ApiResourceId" value="http://hgrdirectory.onmicrosoft.com/WebApiAzureAD" />
    <add key="ApiBaseAddress" value="http://localhost:35888/" />

  </appSettings>
</configuration>